@use "variables" as *;
@use "mixins" as *;

.banner {
    background-image: url(../img/bg-banner.png);
    background-size: cover;
    background-repeat: no-repeat;

    &__main {
        justify-content: center;
        @include fl(center, center, 0);
        flex-direction: column;
        padding-top: 6.25rem
    }

    &__h1 {
        @include textNormal(3.5rem, 700, 120%);
        text-align: center;
        padding-bottom: 1.5rem;
    }

    &__p {
        @include textNormal(1.25rem, 400, 150%);
        text-align: center;
        padding-bottom: 3.25rem;
    }
    &__btn {
        margin-bottom: 6.25rem;
    }
    &__img {
        @include fl(center, center, 0);
        padding-bottom: 3.8125rem;
    }

    @media (max-width: 767px) {
        &__btn {
            width: 90%;
            text-align: center;
        }
    }

    @media (min-width: 768px) and (max-width: 1023px) {}

    @media (min-width: 1024px) {}
}