@charset "UTF-8";
body {
  font-family: Inter;
}

a {
  text-decoration: none;
}

.field {
  width: 80%;
  max-width: 1321px;
  margin: 0 auto;
  padding: 0 64px;
  box-sizing: border-box;
}

.btn {
  color: #ffffff;
  font-family: Inter;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0%;
}

.btn--bl {
  border-radius: 10px;
  background-color: #146EF5;
  color: #ffffff;
  padding: 12px 24px;
}

.btn--tr {
  color: #ffffff;
}

@font-face {
  font-family: Inter;
  src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
}
.header {
  background-color: #000000;
  padding: 16px 0;
}
.header__list {
  display: flex;
  gap: 24px;
}
.header__fl {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__link {
  font-family: Inter;
  font-weight: 600;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
  text-align: left;
}
.header__link--home {
  font-family: Inter;
  font-weight: 900;
  font-size: 1.2rem;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
  text-align: left;
  gap: 4px;
}
.header__logo {
  width: 1.2rem;
  margin-right: 8px;
}
.header__right {
  gap: 1.5rem;
}
.header__burger {
  display: none;
}
@media (max-width: 767px) {
  .header__burger {
    display: block;
    background-color: transparent;
    border: none;
  }
  .header #mobile-hide {
    display: none;
  }
}
.banner {
  background-image: url(../img/bg-banner.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.banner__main {
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: column;
  padding-top: 6.25rem;
}
.banner__h1 {
  font-family: Inter;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 120%;
  letter-spacing: 0%;
  color: #ffffff;
  text-align: left;
  text-align: center;
  padding-bottom: 1.5rem;
}
.banner__p {
  font-family: Inter;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
  text-align: left;
  text-align: center;
  padding-bottom: 3.25rem;
}
.banner__btn {
  margin-bottom: 6.25rem;
}
.banner__img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding-bottom: 3.8125rem;
}
@media (max-width: 767px) {
  .banner__btn {
    width: 90%;
    text-align: center;
  }
}
.agents__h1 {
  font-family: Inter;
  font-weight: 700;
  font-size: 3rem;
  line-height: 120%;
  letter-spacing: 0%;
  color: #222222;
  text-align: left;
  text-align: center;
  padding-top: 7.5rem;
}
.agents__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 3.25rem;
}
.agents__card {
  border-radius: 0.75rem;
  overflow: hidden;
  position: relative;
  background-color: black;
  aspect-ratio: 141/163;
}
.agents__bg {
  width: 100%;
  opacity: 0.8;
}
.agents__card-title {
  position: absolute;
  font-family: Inter;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: 0%;
  color: #ffffff;
  text-align: left;
  bottom: 2rem;
  left: 2rem;
  opacity: 1;
  width: 50%;
}
.agents__card div {
  position: absolutе;
  bottom: 32px;
  right: 32px;
  width: 32px;
}
.agents__card-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .agents__cards {
    flex-direction: column;
  }
}
.accelerate__container {
  display: flex;
  gap: 9rem;
  padding-top: 7.5rem;
}
.accelerate__left {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 0;
  flex-direction: column;
  flex: 1;
}
.accelerate__right {
  flex: 1;
}
.accelerate__img {
  width: 100%;
}
.accelerate__h1 {
  font-family: Inter;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 120%;
  letter-spacing: 0%;
  color: #222222;
  text-align: left;
}
.accelerate__answers {
  width: 70%;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 1.5rem;
  flex-direction: column;
}
.accelerate__line {
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 40%, rgb(237, 237, 237) 40%, rgb(237, 237, 237) 100%);
  width: 100%;
  height: 0.125rem;
}
.accelerate__instant-answerds {
  font-family: Inter;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: 0%;
  color: #222222;
  text-align: left;
}
.accelerate__p {
  font-family: Inter;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 150%;
  letter-spacing: 0%;
  color: #222222;
  text-align: left;
}
.accelerate__btn {
  font-family: Inter;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: 0%;
  color: #222222;
  text-align: left;
  opacity: 50%;
  border-top: #eeeeee solid 2px;
  padding-top: 1.625rem;
}
@media (max-width: 767px) {
  .accelerate__container {
    display: block;
  }
  .accelerate__btn {
    display: none;
  }
  .accelerate__h1 {
    margin-bottom: 2rem;
  }
  .accelerate__p {
    margin-bottom: 1.5rem;
  }
  .accelerate .desktop-hide {
    margin-top: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .accelerate .desktop-hide {
    display: none;
  }
  .accelerate__mobile {
    display: none;
  }
}
@media (min-width: 1024px) {
  .accelerate .desktop-hide {
    display: none;
  }
  .accelerate__mobile {
    display: none;
  }
}

.trusted {
  margin-top: 7.5rem;
  background-color: #eeeeee;
}
.trusted__top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
  padding-top: 7.5rem;
}
.trusted__h1 {
  font-family: Inter;
  font-weight: 700;
  font-size: 3rem;
  line-height: 120%;
  letter-spacing: 0%;
  color: #222222;
  text-align: left;
  width: 50%;
  text-align: center;
}
.trusted__a {
  text-decoration: none;
  font-family: Inter;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 140%;
  letter-spacing: 0%;
  color: #222222;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}
.trusted__cards {
  display: grid;
  grid-template-areas: "a b c d" "e f f g";
  grid-template-columns: repeat(4, 1fr);
  padding-top: 3.25rem;
  gap: 2rem;
  width: 100%;
}
.trusted__card {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 0;
  flex-direction: column;
  border-radius: 0.75rem;
  height: 22.75rem;
  padding: 2rem;
}
.trusted__card--1 {
  background-color: #AF96F6;
}
.trusted__card--2 {
  background-color: #96e8f6;
  color: white;
}
.trusted__card--3 {
  background-color: white;
}
.trusted__card--4 {
  background-color: #e2cb58;
  color: white;
}
.trusted__card--5 {
  background-color: #43d0a3;
  color: white;
}
.trusted__card--6 {
  background-color: white;
}
.trusted__card--7 {
  background-color: #DEE948;
}
.trusted__h1--card {
  font-family: Inter;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 120%;
}
.trusted__p--card {
  font-family: Inter;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 150%;
  letter-spacing: 0%;
  color: #222222;
  text-align: left;
  padding-bottom: 2rem;
}
.trusted__h2--card {
  font-family: Inter;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 150%;
  letter-spacing: 0%;
  color: #222222;
  text-align: left;
}
.trusted__h3--1 {
  font-family: Inter;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0%;
  color: #222222;
  text-align: left;
}
.trusted__h3--card {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
}
@media (max-width: 767px) {
  .trusted__cards {
    grid-template-areas: "a" "b" "c" "d" "e" "f" "g";
    grid-template-columns: 1fr;
  }
}
.how__header {
  text-align: center;
  padding-top: 7.5rem;
  padding-bottom: 3.25rem;
}
.how__h1--header {
  font-family: Inter;
  font-weight: 700;
  font-size: 3rem;
  line-height: 120%;
  letter-spacing: 0%;
  color: #222222;
  text-align: center;
}
.how__p--header {
  font-family: Inter;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 150%;
  letter-spacing: 0%;
  color: #222222;
  text-align: center;
}
.how__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding-top: 2rem;
}
.how__block {
  border-top: 2px solid;
  opacity: 50%;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 0%, rgb(237, 237, 237) 0%, rgb(237, 237, 237) 100%);
  transition: 0.1s;
}
.how__block:hover {
  border-image-source: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 40%, rgb(237, 237, 237) 40%, rgb(237, 237, 237) 100%);
  opacity: 100%;
  animation-name: transition;
  animation-duration: 0.1s;
}
.how__h2--bottom {
  font-family: Inter;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: 0%;
  color: #222222;
  text-align: left;
  padding-top: 1.5rem;
}
.how__p--bottom {
  font-family: Inter;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 150%;
  letter-spacing: 0%;
  color: #222222;
  text-align: left;
  padding-top: 1rem;
}
.how__img--center {
  width: 100%;
}

@keyframes transition {
  0% {
    border-image-source: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 0%, rgb(237, 237, 237) 0%, rgb(237, 237, 237) 100%);
  }
  25% {
    border-image-source: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgb(237, 237, 237) 10%, rgb(237, 237, 237) 100%);
  }
  50% {
    border-image-source: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 20%, rgb(237, 237, 237) 20%, rgb(237, 237, 237) 100%);
  }
  75% {
    border-image-source: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 30%, rgb(237, 237, 237) 30%, rgb(237, 237, 237) 100%);
  }
  100% {
    border-image-source: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 40%, rgb(237, 237, 237) 40%, rgb(237, 237, 237) 100%);
  }
}
.built__h1--top {
  padding-top: 7.5rem;
  font-family: Inter;
  font-weight: 700;
  font-size: 3rem;
  line-height: 120%;
  letter-spacing: 0%;
  color: #222222;
  text-align: center;
}
.built__p--top {
  font-family: Inter;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 150%;
  letter-spacing: 0%;
  color: #222222;
  text-align: center;
  padding-top: 1rem;
}
.built__btn--top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding-top: 2rem;
}
.built__a--top {
  font-family: Inter;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 140%;
  letter-spacing: 0%;
  color: #222222;
  text-align: center;
  border-bottom: rgba(0, 0, 0, 0.3) 0.125rem solid;
}
.built__bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding-top: 3.25rem;
}
.built__card, .built__card--ai {
  background-color: #eeeeee;
  border-radius: 0.75rem;
  padding: 2rem;
  transition: 0.1s;
}
.built__card:hover {
  background-color: #ffffff;
  box-shadow: 4px 4px 25px 0px rgba(34, 60, 80, 0.15);
}
.built__card--ai:hover {
  background-color: #0056D8;
}
.built__card--ai {
  background-color: #146EF5;
}
.built__img--bottom {
  margin-bottom: 1.75rem;
}
.built__h1--bottom, .built__h1--ai {
  margin-bottom: 0.75rem;
}
.built__h1--bottom {
  font-family: Inter;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: 0%;
  color: #222222;
  text-align: left;
}
.built__h1--ai {
  font-family: Inter;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: 0%;
  color: #ffffff;
  text-align: left;
}
.built__p--bottom {
  font-family: Inter;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 150%;
  letter-spacing: 0%;
  color: #222222;
  text-align: left;
}
.built__p--ai {
  font-family: Inter;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
  text-align: left;
}
@media (max-width: 767px) {
  .built__bottom {
    grid-template-columns: 1fr;
  }
  .built .hiden-mobile {
    display: none;
  }
}
.realm__img {
  margin-top: 7.5rem;
  width: 100%;
}

.future__slider--controller {
  margin-top: 7.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0;
}
.future__h1--controller {
  font-family: Inter;
  font-weight: 700;
  font-size: 3rem;
  line-height: 120%;
  letter-spacing: 0%;
  color: #222222;
  text-align: left;
  margin-bottom: 1rem;
}
.future__p--controller {
  font-family: Inter;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 150%;
  letter-spacing: 0%;
  color: #222222;
  text-align: left;
}
.future__btn--controller {
  border: none;
  background-color: #000000;
  border-radius: 3rem;
  padding: 0.75rem;
  aspect-ratio: 1/1;
}
.future__btn--controllerDisabled {
  border: none;
  background-color: #000000;
  border-radius: 3rem;
  padding: 0.75rem;
  aspect-ratio: 1/1;
  opacity: 30%;
}
.future__slider--container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 0;
}
.future__slider {
  margin-top: 3.25rem;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  gap: 2rem;
  width: 120%;
  flex-shrink: 0;
  overflow: hidden;
  margin-bottom: 7.5rem;
}
.future__card--slider {
  background-image: url(../img/slider-bg.png);
  background-size: 100%;
  padding: 1.5rem;
  border-radius: 0.75rem;
  width: 27.7777777778%;
  flex-shrink: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
}
.future__main--card {
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
}
.future__h1--slider {
  background-color: rgba(20, 110, 245, 0.1019607843);
  font-family: Inter;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: 0%;
  color: #146EF5;
  text-align: left;
  border-radius: 0.25rem;
  display: inline-block;
  padding: 0.125rem 0.25rem;
}
.future__h2--slider {
  font-family: Inter;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 150%;
  letter-spacing: 0%;
  color: #222222;
  text-align: left;
  height: 7.125rem;
  overflow: hidden;
}
.future__a--btn {
  font-family: Inter;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 140%;
  letter-spacing: 0%;
  color: #222222;
  text-align: center;
  border-bottom: rgba(0, 0, 0, 0.3) 0.125rem solid;
}
.future__mobile--controller {
  display: none;
}
@media (max-width: 767px) {
  .future__card--slider {
    width: 90%;
  }
  .future__slider {
    margin-bottom: 2rem;
  }
  .future__right--controller {
    display: none;
  }
  .future__mobile--controller {
    display: flex;
    margin-bottom: 3.125rem;
    gap: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .future__right--controller {
    width: 40%;
    margin-left: 2rem;
  }
  .future__card--slider {
    background-size: cover;
  }
  .future__main--card {
    height: 14.1875rem;
  }
  .future__btn--slider {
    width: 8.4375rem;
  }
}
.faqs {
  background-color: #eeeeee;
  padding-top: 7.5rem;
}
.faqs__accordion--bottom {
  overflow: hidden;
  max-height: 31.25rem;
  transition: max-height 0.2s;
}
.faqs__accordion--closed {
  max-height: 0;
}
.faqs__btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url(../img/btn-blue.png);
  width: 2rem;
  height: 2rem;
  transition: 0.2s;
  margin-top: 1.5rem;
}
.faqs__btn--open {
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url(../img/btn.png);
  width: 2rem;
  height: 2rem;
}
.faqs__content {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 7.5rem;
}
.faqs__main {
  margin-top: 3.25rem;
}
.faqs__h1--top {
  font-family: Inter;
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 3.5rem;
  letter-spacing: 0%;
  color: #222222;
  text-align: left;
}
.faqs__accordion--top {
  border-top: 0.125rem #CCCCCC solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.faqs__h1--accordion {
  font-family: Inter;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: 0%;
  color: #222222;
  text-align: left;
  margin-top: 1.5rem;
}
.faqs__accordion--bottom {
  display: flex;
  justify-content: start;
  align-items: stretch;
  gap: 1.5rem;
  flex-direction: column;
  margin: 0.75rem 0;
}
.faqs__p {
  font-family: Inter;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0%;
  color: #222222;
  text-align: left;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .faqs__h1--accordion {
    width: 27.5rem;
  }
}
.unlock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: column;
  background-image: url(../img/unlock-bg.png);
  background-size: 100%;
}
.unlock__h1 {
  font-family: Inter;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 120%;
  letter-spacing: 0%;
  color: #ffffff;
  text-align: left;
  text-align: center;
  margin-top: 6.25rem;
  margin-bottom: 3.25rem;
}
.unlock__btn--container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 6.25rem;
}
.unlock__btn--blue {
  font-family: Inter;
  font-weight: 600;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
  text-align: left;
  padding: 1rem 1.5rem;
  background-color: #146EF5;
  border-radius: 0.625rem;
}
.unlock__btn--white {
  font-family: Inter;
  font-weight: 600;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
  text-align: left;
  padding: 1rem 1.5rem;
  border: 0.125rem solid #ffffff;
  border-radius: 0.625rem;
}
@media (max-width: 767px) {
  .unlock {
    background-size: cover;
  }
  .unlock__btn--container {
    flex-direction: column;
    width: 90%;
  }
  .unlock__btn--blue, .unlock__btn--white {
    width: 100%;
    text-align: center;
  }
}
.unlock {
  background-size: cover;
}
.footer {
  background-color: #000000;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
  padding: 3.75rem 4rem;
}
.footer__left {
  display: flex;
  justify-content: start;
  align-items: stretch;
  gap: 0;
}
.footer__h1 {
  font-family: Inter;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0%;
  color: #ffffff;
  text-align: left;
}
.footer__right {
  display: flex;
  justify-content: start;
  align-items: stretch;
  gap: 8rem;
}
.footer__h1--collum {
  font-family: Inter;
  font-weight: 600;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
  text-align: left;
  margin-bottom: 0.75rem;
}
.footer__ul {
  display: flex;
  justify-content: start;
  align-items: stretch;
  gap: 0.75rem;
  flex-direction: column;
}
.footer__li {
  font-family: Inter;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
  text-align: left;
  opacity: 70%;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 0 3.75rem 4rem 3.75rem;
}
.footer__a--container, .footer__a--bottom, .footer__media {
  width: 30%;
}
.footer__a {
  font-family: Inter;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
  text-align: left;
  text-decoration: underline;
  opacity: 70%;
}
.footer__media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.footer__a--container {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 1.5rem;
}
.footer__a--right {
  font-family: Inter;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
  text-align: left;
  text-decoration: underline;
  opacity: 70%;
}
@media (max-width: 767px) {
  .footer__top {
    flex-direction: column-reverse;
  }
  .footer__right {
    flex-direction: column;
    gap: 4rem;
  }
  .footer__left {
    justify-content: center;
  }
  .footer__h1 {
    margin-top: 2rem;
  }
  .footer__bottom {
    display: grid;
    grid-template-areas: "b" "a" "c";
    justify-content: center;
    gap: 1.5rem;
  }
  .footer__a--container, .footer__a--bottom, .footer__media {
    width: 100%;
  }
  .footer__a--container {
    justify-content: center;
  }
}/*# sourceMappingURL=main.css.map */